@font-face {
    font-family: 'alconica' ;
    src: url(./fonts/Aclonica/Aclonica-Regular.ttf);
}
@font-face {
    font-family: 'orbitron';
    src: url(./fonts/Orbitron/Orbitron-VariableFont_wght.ttf);
}