/* alt + l + o (for go live) */
@font-face {
    font-family: tittle-square;
    src: url(./fonts/Nova_Square/NovaSquare-Regular.ttf);
}

@font-face {
    font-family: 'alconica';
    src: url(./fonts/Rubik_Glitch_Pop/RubikGlitchPop-Regular.ttf);
}
@font-face {
    font-family: 'tac-one';
    src: url(./fonts/Tac_One/TacOne-Regular.ttf);
}

* {
    color: white;
}

body {
    background-image: url(./images/bg1.jpg);
}

/* portfolio */
.portfolio-text {
    color: #ffffff;
    position: relative;
    left: 50px;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 40px;
    font-weight: 700;
    text-shadow: 3px 3px rgb(0, 0, 0);
    font-family: alconica;

}

hr {
    box-shadow: 1px 1px 10px 1px white;
}

#button-pos {
    position: absolute;
    top: 54px;
    right: 15px;
    left: auto;

}
/* for all buttons in home page  */
button {
    padding: 0px;
    margin: 0px;
    width: 110px;
    height: 40px;
    background: #000;
    border: 3px outside rgb(127, 209, 239);
    border-radius: 10px;
    box-shadow: 1px 1px 10px 5px rgb(127, 209, 239);

}
/* only mouse cursel on button */
button:hover{
    background: rgb(127, 209, 239);
    border: 0px outside rgb(127, 209, 239);
    border-radius: 10px;
    box-shadow: 1px 1px 10px 5px rgb(127, 209, 239, );
}
/* for cliking button display this  */
button:active{
    background: #000;
    border: 2px outside rgb(127, 209, 239);
    border-radius: 10px;
    box-shadow: 1px 2px 10px 5px rgb(127, 209, 239 );
}
/* button text design  */
.button-font {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 15px;
    font-family: tittle-square;
    color: rgb(127, 209, 239);
    font-weight: 100;
    letter-spacing: 5px;
    
}
/* button text only focus  */
.button-font:hover {
    
    text-transform: uppercase;
    text-decoration: none;
    font-size: 15px;
    font-family: tittle-square;
    color: rgb(19, 19, 19);
    font-weight: 100;
    letter-spacing: 5px;
}
/* button after clicking  */
.button-font:active {
    
    text-transform: uppercase;
    text-decoration: none;
    font-size: 15px;
    font-family: tittle-square;
    color: rgb(127, 209, 239 );
    font-weight: 100;
    letter-spacing: 5px;
}

/* home header consist of (portfolio + buttons ) */
header {
    padding: 4px;
    margin: 0px;
    border: 1px solid rgb(215, 213, 213);
    border-radius: 10px;
    background-color: rgba(169, 179, 186, 0.60);
}
/* speaker icon */
.home-icon-speaker {
    position: absolute;
    left: 560px;
    top: 155px;
    width: 50px;
    height: 50px;
}
.home-icon-speaker:hover{
    box-shadow: 1px 1px 30px 10px rgb(7, 207, 238);
}

/* play icon */
.home-icon-video {
    position: absolute;
    left: 610px;
    top: 155px;
    width: 50px;
    height: 50px;
    opacity: 0.70;
}
.home-icon-video:hover{
    box-shadow: 1px 1px 30px 10px rgb(7, 207, 238);
}
/* muhammad huzaifa */
.name {
    /* for adjusting huzaifa name in home  */
    text-shadow: 4px 4px 9px rgb(7, 207, 238);
    font-size: 50px;
    font-weight: 1000;
    font-family: tittle-square;

}
/* below muhammad huzaifa */
.home-text {
    margin: 0px;
    padding: 80px;
    position: absolute;
    left: 4%;
}
/* target only p */
.home-text>p {
    word-spacing: 20px;
}
/* huzaifa pic on home  */
.hpic {
    padding: 0px;
    width: 350px;
    
    border-radius: 200px;
    position: absolute;
    right: 10%;
    top: 340px;
    border: 10px solid rgb(7, 207, 238);
}
.hpic:hover{
    box-shadow: 1px 1px 30px 15px rgb(7, 207, 238);
    
}





/* footer */
#footer {
    position: relative;
    top: 5300px;
}
a:hover[target]{
    box-shadow:  1px 1px 50px 15px rgb(7, 207, 238);
}



















/* th{
    background-color: rgb(174, 214, 249);
}
td{
    background-color: rgb(217, 245, 161);
} */