* {
    color: white;
}

body {
    background-image: url(./images/bg1.jpg);
}

.portfolio-text {
    font-size: 30px;
    font-weight: 700;
    text-shadow: 3px 3px rgb(0, 0, 0);
}
hr{
    box-shadow: 3px 3px 9px white;
}
#button-pos {
    position: absolute;
    top: 54px;
    right: 15px;
    left: auto;

}

button {
    box-shadow: 3px 3px 9px white;
    padding: 8px;
    font-size: large;
    border: 1px dashed rgb(255, 255, 255);
    border-radius: 10px;
    background-color: rgba(182, 193, 202, 0.50);
}

.button-font {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-weight: 600;
}

header {
    padding: 4px;
    margin: 0px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: rgba(169, 179, 186, 0.60);
}

.name {
    /* for adjusting huzaifa name in home  */
    text-shadow: 4px 4px 9px rgb(7, 207, 238);
    font-size: 50px;
}

.home-text {
    margin: 0px;
    padding: 80px;
    position: absolute;
    left: 4%;
}

.hpic {
    padding: 0px;
    width: 350px;
    /* float: right ; */
    /* position: absolute; */
    border-radius: 200px;
    position: absolute;
    right: 10%;
    top: 340px;

}

/*    ABOUT                 */

/* css for table border and internel design */
th,
sup,
tr,
td,
table {
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
/*           TABLE */
.table-about {

    padding: 15px;
    width: 600px;
    height: 400px;
    font-size: large;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 6px;
    background-color: rgba(182, 193, 202, 0.70);
    position: absolute;
    right: 50px;
    top: 177px;

}

.hpic-about {
    opacity: 0.90;
    padding: 0px;
    width: 350px;
    border-radius: 200px;
    position: absolute;
    left: 10px;
    top: 150px;
}
#about {
    position: relative;
    top: 600px;
}
.iframe{
    opacity: 0.60;
    width: 600px;
    height: 400px;
    position:absolute;
    right: 55px;
    top: 600px;
}
.about-font{
    font-size: 50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    right: 410px;
    text-shadow: 4px 4px 9px rgb(7, 207, 238);
}
.about-text{
    font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    right: 370px;
    top: 88px;
    text-shadow: 1px 2px 3px rgb(255, 255, 255);
}
.project1{
    position: relative;
    top: 1700px;
    right: 20px;
}
.project1-video{
    position: absolute;
    top: 100px;
    width: 600px;
    height: 400px;
    right: 55px;

}
.project1-text{
    position: absolute;
    top: 100px;
    width: 600px;
    height: 400px;
    left: 55px;
    font-size: 30px;
}





#footer {
    position: relative;
    top: 3000px;
}




















/* th{
    background-color: rgb(174, 214, 249);
}
td{
    background-color: rgb(217, 245, 161);
} */